# Basic statistics in Python

blog : https://chiricutosnpython.blogspot.com/2020/09/basic-statistics-numpy-pandas-scipy.html

> All these are based on lecture notes from Dannis L. Harmman (Washington Univ.)
> & Objective Analysis class organized by Jinho Yoon (GIST)

Before we move on, the data here we use is Nino34 and SOI data.
For more details, please refer below links

https://www.ncdc.noaa.gov/teleconnections/enso/indicators/sst/
<br>
https://www.ncdc.noaa.gov/teleconnections/enso/indicators/soi/

In [1]:
# libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# load data
# https://psl.noaa.gov/data/correlation/nina34.data
# https://psl.noaa.gov/data/correlation/soi.data

nino34 = pd.read_csv('./data/nino34.csv',
        names=['year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        index_col='year')
soi    = pd.read_csv('./data/soi.csv',
        names=['year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        index_col='year')

# remove NaN values 
# there are acutally many other ways to deal with NaN values. 
# here, we simply remove all the NaN values

nino34[nino34 == -99.99], soi[soi == -99.99] = np.nan, np.nan
nino34, soi = nino34.dropna().reset_index(drop=True), soi.dropna().reset_index(drop=True)

## 1. Mean & Quantiles

- <font size="4">**Mean** is one of the most representative characteristic values about data. This is calculated by adding up all values in dataset, and dividing the total by the number of data points.

<font size="4">$$\bar{x} = \frac{1}{N}\sum_{i=1}^N x_i $$
    
- <font size="4">**Median** is another feature value of data, representing central value in order.
     
    <font size="3"> ex) 1, 2, 2, **4**, 5, 7, 9
<br><br>
- <font size="4">**Quantile**s mainly divide dataset into 4 parts to describe its distribution. Actually the second quantile is **median**. Those quantiles are 25, 50 and 75 **percentile** values, and particular **percentile** value is also used depending on data.       <img src="./figure/quantile.png" width="500">

## Mean

In [2]:
# monthly mean (pandas)
print('Monthly Mean')
print(nino34.mean())
print('\n')

# total mean (numpy)
print('Mean of all data')
print(np.mean(nino34.values))

Monthly Mean
Jan    26.422143
Feb    26.630714
Mar    27.128286
Apr    27.576857
May    27.697286
Jun    27.509143
Jul    27.081143
Aug    26.676714
Sep    26.570000
Oct    26.546143
Nov    26.532286
Dec    26.474714
dtype: float64


Mean of all data
26.903785714285714

## Median

In [3]:
# monthly median (pandas)
print('Monthly Median')
print(nino34.median())
print('\n')

# total median (numpy)
print('Median of all data')
print(np.median(nino34.values))

Monthly Median
Jan    26.250
Feb    26.560
Mar    27.090
Apr    27.535
May    27.695
Jun    27.565
Jul    27.080
Aug    26.700
Sep    26.455
Oct    26.420
Nov    26.330
Dec    26.370
dtype: float64


Median of all data
26.98

## Quantiles

<font size="3"> **!!! [Notice] !!!**

different range for percentile value
- Pandas : 0.0 ~ 1.0
- Numpy  : 0 ~ 100

In [4]:
# monthly 1st quantile (25%, pandas)
print('Monthly Median')
print(nino34.quantile(0.25))
print('\n')

# total 1st quantile (25%, numpy)
print('Median of all data')
print(np.percentile(nino34.values, q=25))

Monthly Median
Jan    25.6625
Feb    26.0550
Mar    26.6025
Apr    27.1225
May    27.2000
Jun    27.0500
Jul    26.6350
Aug    26.2150
Sep    25.9200
Oct    25.7950
Nov    25.6025
Dec    25.6350
Name: 0.25, dtype: float64


Median of all data
26.22

- <font size="4">In pandas, **describe** function summarize these all basic statistics of data

In [5]:
nino34.describe()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
count,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000
mean,26.422143,26.630714,27.128286,27.576857,27.697286,27.509143,27.081143,26.676714,26.570000,26.546143,26.532286,26.474714
std,1.115113,0.920177,0.706506,0.621388,0.625867,0.630892,0.695954,0.787570,0.880173,1.023364,1.120778,1.156448
min,24.460000,25.060000,25.840000,26.280000,26.180000,25.990000,25.560000,25.220000,25.050000,24.410000,24.250000,24.330000
25%,25.662500,26.055000,26.602500,27.122500,27.200000,27.050000,26.635000,26.215000,25.920000,25.795000,25.602500,25.635000
50%,26.250000,26.560000,27.090000,27.535000,27.695000,27.565000,27.080000,26.700000,26.455000,26.420000,26.330000,26.370000
75%,27.165000,27.125000,27.470000,28.030000,28.240000,27.982500,27.535000,27.057500,27.135000,27.347500,27.332500,27.285000
max,29.110000,29.010000,28.900000,29.020000,28.980000,28.900000,28.860000,28.790000,28.930000,29.080000,29.420000,29.260000

<br>
 ___________________________________________________________________________________________________________________

## 2. Variance & higher moments

- <font size="4">**Variance** measures how data is spread out from the **mean** value by calculating the expectation of the squared deviation. The division by N-1 instead of the expected N is to obtain an unbiased estimate of the variance.

<font size="4">$$\bar{(x')^2} = \frac{1}{N-1}\sum_{i=1}^N (x_i-\bar{x})^2 $$
    
- <font size="4">**Standard Deviation** is the positive square root of the variance.
<br><br>
<font size="4">$$standard \ deviation = \sqrt{variance} $$
<br><br>
- <font size="4">**Moment**s in statistics describes something related to the central value of data. 
    
    <font size="3"> The general fomular for the sth moment is, $$\frac{x_1^s + x_2^s + x_3^s ... + x_n^s}{N}$$
    <font size="3"> If we set s=1, the result is identical to **mean**.
    <br><br>
    <font size="3"> Here, we slightly modify the formula to see the sth moment about the **mean**, 
    <br><br>
    $$\frac{(x_1-\bar{x})^s + (x_2-\bar{x})^s + (x_3-\bar{x})^s ... + (x_n-\bar{x})^s}{N}$$
    <br><br>
    <font size="3"> Then, the first moment (s=1) about the mean is 0 and the second moment (s=2) is **variance**.
    <br><br>
    <font size="3"> The third (s=3) moment is called **skewness** indicates the degree of asymmetry of the distribution about the mean. If data has positive **skewness**, its distribution shows a long tail on the positive side of the mean, and vice versa. If the data is exactly symmetric, like a Normal distribution, **skewness** is 0.
    <br><br>
    <img src="./figure/skewness.png" width="600" ><font size="2"><center> https://en.wikipedia.org/wiki/Skewness></center>
    <br><br>    
    <font size="3"> The fourth (s=4) moment is called **kurtosis** indicates the degree to which the distribution is spread about the mean value. In other words, it measures the thickness of the tails of the distribution. If data is more evenly scattered from the mean (very flat shape), the **kurtosis** is higher. In many statistics packages, the **kurtosis** has the value compared(subtracted) to the Normal distribution, which is 3.        
    <img src="./figure/kurtosis.png" width="500" ><font size="2"><center> https://www.statext.com/android/kurtosis.html

## Variance

<font size="3"> **!!! [Notice] !!!**
    
Pandas uses the unbiased estimator (**N-1** in the denominator), but
    
Numpy does use **N**. To make them behave the same, you should set **ddof=1** to np.var.

In [6]:
# monthly variance (pandas)
print('Monthly variance')
print(nino34.var())
print('\n')

# total variance (numpy)
print('Variance of all data')
print(np.var(nino34.values, ddof=1))

Monthly variance
Jan    1.243478
Feb    0.846726
Mar    0.499151
Apr    0.386123
May    0.391710
Jun    0.398025
Jul    0.484352
Aug    0.620266
Sep    0.774704
Oct    1.047273
Nov    1.256143
Dec    1.337373
dtype: float64


Variance of all data
0.968086008854078

## Standard Deviation

<font size="3"> **!!! [Notice] !!!**
    
Pandas uses the unbiased estimator (**N-1** in the denominator), but
    
Numpy does use **N**. To make them behave the same, you should set **ddof=1** to np.std.

In [7]:
# monthly standard deviation (pandas)
print('Monthly standard deviation')
print(nino34.std())
print('\n')

# total standard deviation (numpy)
print('Standard deviation of all data')
print(np.std(nino34.values, ddof=1))

Monthly standard deviation
Jan    1.115113
Feb    0.920177
Mar    0.706506
Apr    0.621388
May    0.625867
Jun    0.630892
Jul    0.695954
Aug    0.787570
Sep    0.880173
Oct    1.023364
Nov    1.120778
Dec    1.156448
dtype: float64


Standard deviation of all data
0.983913618593664

## Skewness

<font size="3"> **!!! [Notice] !!!**

Unfortunately, Numpy does not support skewness function. Instead, we can use **Scipy** library.
<br><br>
Pandas uses the unbiased estimator (**N-1** in the denominator).
    
For the same way, skew function in Scipy should be set **bias=False**.
    
The skew in Scipy also supports calculation for particular axis like pandas.
<br>
If you want to calculate over the whole data, set **axis=None**.

In [8]:
# monthly skewness (pandas)
print('Monthly skewness')
print(nino34.skew())
print('\n')

# total skewness (scipy)
from scipy.stats import skew
print('Skewness for all data')
print(skew(nino34.values, bias=False, axis=None))

Monthly skewness
Jan    0.358471
Feb    0.500691
Mar    0.425283
Apr    0.038225
May   -0.045313
Jun   -0.139468
Jul    0.234307
Aug    0.426769
Sep    0.481554
Oct    0.320728
Nov    0.336872
Dec    0.338822
dtype: float64


Skewness for all data
-0.11555619173698659

## Kurtosis

<font size="3"> **!!! [Notice] !!!**

Like skewness, Numpy does not support kurtosis function. Again, we can use **Scipy** library.
<br><br>
Pandas uses the unbiased estimator (**N-1** in the denominator).
    
For the same way,  kurtosis function in Scipy should be set **bias=False**.
    
The kurtosis in Scipy also supports calculation also particular axis like pandas.
<br>
If you want to calculate over the whole data, set **axis=None**.

In [9]:
# monthly kurtosis (pandas)
print('Monthly kurtosis')
print(nino34.kurtosis())
print('\n')

# total kurtosis (scipy)
from scipy.stats import kurtosis
print('Kuttodid for all data')
print(kurtosis(nino34.values, bias=False, axis=None))

Monthly kurtosis
Jan   -0.266314
Feb    0.024429
Mar   -0.100408
Apr   -0.636076
May   -0.658078
Jun   -0.372192
Jul   -0.022246
Aug    0.238044
Sep    0.080617
Oct   -0.126925
Nov   -0.247818
Dec   -0.519194
dtype: float64


Kuttodid for all data
-0.3742783798162459